html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/*Navbar*/
.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #443297;
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .search_box input {
  margin-left: 12px;

  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_icon_box .basket_count {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  right: -3px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 18px;

  background: #f5c34b;
}

.navbar_frame .navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  display: flex;
}

.navbar_frame .router_menu a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .router_menu a.active {
  color: #f5c34d;
}

.navbar_frame .navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
/*Navbar end */

/*Footer*/
.footer_frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3f5f6;
}

.footer_spec_title {
  display: block;
  margin-bottom: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #041e42;
}

.footer_frame .container {
  flex-direction: column;
}

.container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_top .footer_contact_box {
  display: flex;
  flex-direction: column;
}

.footer_contact_box .footer_contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer_contact_main img {
  width: 35px;
  height: 30px;
}

.footer_contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer_contact_main div strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.footer_contact_main div span {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.footer_support_box {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.footer_support_box a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #041e42;
}

.footer_media_box {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
}

.footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
}

.footer_media_main .media_box {
  display: flex;
  flex-direction: row;
}

.media_box i {
  margin-right: 25px;
}

.footer_media_main .mobile_app_box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile_app_box img {
  width: 24px;
  height: 16px;
}

.mobile_app_box span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #041e42;
}

.footer_media_main .card_box {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .footer_bottom {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid #eaeaea;
}

.footer_bottom .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_bottom_left span {
  width: 280px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #041e42;
}

.footer_main .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_bottom_right .footer_select_box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #ffffff;

  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.footer_select_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #626974;
}

.footer_select_box select {
  margin-left: 20px;
  width: 70px;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: #041e42;
}
