/*html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.navbar_top {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 50px;
}

.navbar_top > a img {
  margin-right: 76px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;

  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;
}

.search_box input {
  margin-left: 12px;

  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_top .navbar_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  margin-right: 16px;

  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0);
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}
.box_info_box strong {
  width: 20px;
  height: 20px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_bott {
  width: 100%;
  height: 50px;
  background-color: blue;
}*/
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
