.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
  text-transform: capitalize;

  color: #041e42;
}

.container .category_top a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}
.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/*Pagination*/
.container .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main img {
  cursor: pointer;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112337;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112337;
  border-radius: 50px;
}

.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

/*Header Frame*/
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url(../css/icons/header_bg.svg);
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #0053f6;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/*Service*/
.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #041e42;
}

.service_frame .service_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #626974;
}

/*Shop Category Frame*/
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_category_frame .category_top span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;

  color: #041e42;
}

.shop_category_frame .category_top a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}
.shop_category_frame .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  margin-right: 90px;
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  width: 142px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #041e42;
}

/*Selling Products*/
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .next_prev_box {
  width: 25px;
}

.selling_product_frame .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 386px;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* cursor: pointer; */
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  background: #0053f6;
  box-shadow: 0px 5px 28px rgba(0, 83, 246, 0.1);
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.selling_product_frame .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  color: #041e42;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #626974;
}

.selling_product_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #041e42;
}

.selling_product_frame .price_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: line-through;

  color: #626974;
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  overflow: hidden;

  color: #0053f6;
}

/* Spec Product */
.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  background: #f3f5f6;
  border-radius: 6px;
}

.big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big_product_content span {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.big_product_content p {
  margin: 7px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.big_product_content a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5px;
}

.spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}

.small_product_box:nth-child(odd) {
  margin-right: 30px;
}

.small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.small_product_content strong {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #041e42;
}

.small_product_content span {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;

  color: #626974;
}

.small_product_box img {
  position: absolute;
  right: 30px;
  top: 40px;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
